@page "/admin/accounts"
@inherits LarpPage

@using Larp.Landing.Shared.Messages
@inject LandingService LandingService
@inject NavigationManager NavigationManager

<PageHeader>Account Manager</PageHeader>

<AdminLayout Title="Manage Accounts" Loading="IsLoading">
    <div class="pa-2 mb-4">
        <EditForm Model="_search" OnSubmit="Search">
            <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Start">
                <MudTextField T="string?" OnlyValidateIfDirty Clearable Variant="Variant.Filled" Placeholder="Search" Adornment="Adornment.End" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Outlined.Search" For="() => _search.Query" @bind-Value="_search.Query" OnAdornmentClick="Search"/>
            </MudStack>
        </EditForm>
    </div>

    <MudDataGrid T="Account" Items="_accounts" RowClick="RowClick" Dense Hover Loading="_allAccounts.Length == 0">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name"/>
            <TemplateColumn T="Account">
                <CellTemplate>
                    @if (context.Item.Emails.Any(x => x is { IsVerified: true, IsPreferred: true }))
                    {
                        <MudTooltip Text="User has verified their email">
                            <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Color="Color.Primary"/>
                        </MudTooltip>
                    }
                    @if (context.Item.Roles.Contains(AccountRole.AdminAccess))
                    {
                        <MudTooltip Text="User has administrator access">
                            <MudIcon Icon="@Icons.Material.Filled.ShieldMoon" Color="Color.Primary"/>
                        </MudTooltip>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.PreferredEmail" Title="Email"/>
            <PropertyColumn Property="x => x.Phone" Title="Phone"/>
            <PropertyColumn Property="x => x.Location" Title="Location"/>
            <PropertyColumn Property="x => x.Age" Title="Age"/>
            <PropertyColumn Property="x => x.MwFifthMoonstone" Title="Moonstone"/>
            <PropertyColumn Property="x => x.MwFifthUsedMoonstone" Title="UsedMoonstone"/>
        </Columns>
    </MudDataGrid>

    <MudButton Class="mt-4" Color="Color.Warning" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.SupervisedUserCircle" OnClick="AddAdmin">Add Admin</MudButton>
</AdminLayout>

@code {
    private Account[] _allAccounts = Array.Empty<Account>();
    private Account[] _accounts = Array.Empty<Account>();

    protected override async Task OnSafeInitializedAsync()
    {
        _allAccounts = await LandingService.Admin.GetAccounts();
        _accounts = _allAccounts;
    }

    private static bool SearchFunc(Account account, string query) =>
        (account.Name?.Contains(query, StringComparison.InvariantCultureIgnoreCase) ?? false)
        || (account.Location?.Contains(query, StringComparison.InvariantCultureIgnoreCase) ?? false)
        || (account.Phone?.Contains(query) ?? false)
        || account.Emails.Any(x => x.Email.Contains(query, StringComparison.InvariantCultureIgnoreCase));

    private readonly SearchModel _search = new();

    class SearchModel
    {
        public string? Query { get; set; }
    }

    private void Search()
    {
        var query = _search.Query;
        if (string.IsNullOrWhiteSpace(query))
            _accounts = _allAccounts;
        else
            _accounts = _allAccounts.Where(x => SearchFunc(x, query)).ToArray();
        StateHasChanged();
    }

    private void RowClick(DataGridRowClickEventArgs<Account> item)
    {
        NavigationManager.NavigateTo("/admin/accounts/" + item.Item.AccountId);
    }

    private async Task AddAdmin()
    {
        var dialog = await DialogService.ShowAsync<AddAdminDialog>("Add Administrator");
        var result = await dialog.Result;
        var stringResult = (StringResult)result.Data;
        if (stringResult.IsSuccess)
            NavigationManager.NavigateTo($"/admin/accounts/{stringResult.Value}");
        else
            await DialogService.ShowMessageBox("Adding Administrator", stringResult.ErrorMessage);
    }

}