@foreach (var property in Properties)
{
    <div class="mw5e-property">
        <div class="mw5e-property-name">@property.Name</div>
        <div class="mw5e-property-value">@property.Value</div>
    </div>
}

@code {
    [Parameter]
    public GiftPropertyValue[] Properties { get; set; } = default!;

}