@page "/characters"
@using Larp.Data

@inject LandingService LandingService
@inject NavigationManager NavigationManager

<PageHeader>Your Characters</PageHeader>

<Container MaxWidth="MaxWidth.Medium">
    <Paper Elevation="2" Style="margin-top: 1em;">
        @if (Characters == null || Games == null)
        {
            <List>
                <ChildContent>
                    <ListItem key=@{0}>
                        <CircularProgress Style="margin: 32px;"/>
                    </ListItem>
                </ChildContent>
            </List>
        }

        @if (Characters != null && Games != null)
        {
            <List Style="width: 100%; margin: 0">
                <SubheaderContent>
                    <ListSubheader>
                        <li/>
                    </ListSubheader>
                </SubheaderContent>
                <ChildContent>
                    @foreach (var game in Games)
                    {
                        <li key="@($"{game.Name}-section")">
                            <ul style="padding: 0">
                                <ListSubheader><div style="padding-left: 1em">@game.Title</div></ListSubheader>
                                @foreach (var character in Characters.Where(x => x.GameName == game.Name).OrderBy(x => x.Name))
                                {
                                    <ListItem Button key="@($"{game.Name}-{character.Id}")" OnClick=@(() => NavigationManager.NavigateTo($"/characters/{character.Id}")) }>
                                        <ListItemIcon>
                                            <PersonIcon />
                                        </ListItemIcon>
                                    <ListItemText Primary=@($"{character.Name}") Secondary=@($"{character.Summary}") />
                                    </ListItem>
                                }
                                <ListItem Button key="@($"{game.Name}-new")" Component="a" href="/characters/new">
                                    <ListItemIcon>
                                        <AddIcon/>
                                    </ListItemIcon>
                                    <ListItemText Primary=@($"Draft a new {game.Title} character") />
                                </ListItem>
                            </ul>
                        </li>
                    }
                </ChildContent>
            </List>
        }
    </Paper>
</Container>

@code {
    // ReSharper disable InconsistentNaming
    CharacterSummary[]? Characters;
    Game[]? Games;

    protected override async Task OnInitializedAsync()
    {
        Characters = await LandingService.GetCharacters();
        Games = await LandingService.GetGames();
    }


}