@using Skclusive.Material.Link
@page "/"

<PageTitle>LARP Landing</PageTitle>

<div class="background"></div>
<div class="buffer"></div>

<Typography Variant="TypographyVariant.H4" Align="Align.Center" Style="color: white">Welcome to the Landing for <Hyperlink href="https://mystwood.org/" Style="color: white">Mystwood</Hyperlink></Typography>
<Typography Variant="TypographyVariant.Body1" Align="Align.Center" Style="color: white">Check the menu to sign in, access your characters, or clarify game terminology!</Typography>
<Typography Variant="TypographyVariant.Body2" Align="Align.Center" Style="color: white; padding-top: 4em">Revision <Revision /></Typography>
