html {
}
body {
    background: transparent;
    height: 100%;
}
div.background {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: -10000;
    background: transparent url("splash.webp") no-repeat center center;
    background-size: cover;
}
div.buffer {
    height: 10vw;
}
.Typography-Root {
    color: white !important;
}