@using Skclusive.Material.Link
@page "/"

<PageTitle>LARP Landing</PageTitle>

<div class="background"></div>
<div class="buffer"></div>

<Typography Variant="TypographyVariant.H4" Align="Align.Center" Color="Color.White">Welcome to the Landing for <Link href="https://mystwood.org/">Mystwood</Link></Typography>
<Typography Variant="TypographyVariant.Body1" Align="Align.Center" Color="Color.White">Check the menu to sign in, access your characters, or clarify game terminology!</Typography>
