@page "/"

<PageTitle>LARP Landing</PageTitle>

<div class="background"></div>
<div class="buffer"></div>

<MudText Typo="Typo.h4" Align="Align.Center" Style="color: white">Welcome to the Landing for <s href="https://mystwood.org/" style="color: white; text-decoration: none">Mystwood</s></MudText>
<MudText Typo="Typo.body1" Align="Align.Center" Style="color: #ccc; padding-top: 4em">Check the menu to sign in, access your characters, or clarify game terminology!</MudText>
<MudText Typo="Typo.body2" Align="Align.Center" Style="color: #ccc; padding-top: 4em">Revision <Revision /></MudText>
